{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="space">
    <div class="container">
        <div class="row gy-30">
            <div class="col-md-6">
                <div class="info-style1">
                    <div class="info-img"><img src="assets/img/contact/cont-1-1.jpg" alt="Office Image"></div>
                    <div class="info-content">
                        <h3 class="info-title">North Califonia</h3>
                        <p class="info-text">Store: Maxy Limit</p>
                        <p class="info-text"><i class="fal fa-phone-alt"></i><a href="tel:+12512562145">+125 1256 2145</a></p>
                        <p class="info-text"><i class="fal fa-envelope"></i><a href="mailto:info@gmail.com">info@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-style1">
                    <div class="info-img"><img src="assets/img/contact/cont-1-2.jpg" alt="Office Image"></div>
                    <div class="info-content">
                        <h3 class="info-title">New York City</h3>
                        <p class="info-text">Store: Angfuzsoft Ltd</p>
                        <p class="info-text"><i class="fal fa-phone-alt"></i><a href="tel:+7934996763">+793 4996 763</a></p>
                        <p class="info-text"><i class="fal fa-envelope"></i><a href="mailto:info@gmail.com">info@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}