<!-- pagination -->
{% if page %}
    <ul class="tf-pagination-wrap tf-pagination-list tf-pagination-btn">
        <!-- Lien vers la première page -->
        {% if page.has_previous %}
            <li>
                <a href="?page=1" class="pagination-link animate-hover-btn">1</a>
            </li>
        {% endif %}

        <!-- Lien vers la page précédente -->
        {% if page.has_previous %}
            <li>
                <a href="?page={{ page.previous_page_number }}" class="pagination-link animate-hover-btn">
                    <span class="icon icon-arrow-left"></span>
                </a>
            </li>
        {% endif %}

        <!-- Page actuelle -->
        <li class="active">
            <a href="#" class="pagination-link">{{ page.number }}</a>
        </li>

        <!-- Lien vers la page suivante -->
        {% if page.has_next %}
            <li>
                <a href="?page={{ page.next_page_number }}" class="pagination-link animate-hover-btn">
                    <span class="icon icon-arrow-right"></span>
                </a>
            </li>
        {% endif %}

        <!-- Lien vers la dernière page -->
        {% if page.has_next %}
            <li>
                <a href="?page={{ page.paginator.num_pages }}" class="pagination-link animate-hover-btn">
                    {{ page.paginator.num_pages }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}